<!DOCTYPE html>
<html>
<head>
<title>Teen asking for donations in Rogers AR/UnknownStory.com</title>
</head>
<body>
<center>
<div style="border:5px solid #FF0000; background-color:#FF0000; text-allign:center; width:20%; border-radius:15px;">

<H1>Unknown Story's</H1>
</div>

  <h1>Teen asks for Dontions in Rogers AR</h1>

<p><b>13 year old kid Jesus Ayala Suffers from ADHD and anxiety. 6 months ago his families house burnt down after his ADHD hyperactivity caused him to grab a lighter and light the gas tank on fire after his mom took his Xbox Series S. The tank exploded and since the house was wooden it caught on fire and burnt down after 10 minutes the firefighters finaly arrived but it was to late. luckily everyone was ok, but now the family was forced to move into a apartment. The parents of the kid decided to make him go on the street and ask for donations. After one of are crew members saw him he decided to ask him if he would like to share his story online. So that more people saw his story and donated</b></p>



<h3>Reason Why you should Donate</h3>
<p>1.If I could get a job to get money I gladly would.</p>
<p>2.My family is crowded in the apartment of 2 rooms.</p>
<p>3.The Water is non filtered so I go to school smelling horrible.</p>
<p>4.If you dont donate I will sell your house.</p>
<p>5.I will also empty your bank account.</p>


<h3>What will happen if you dont donate</h3>
<p><b>I will sell your house</b></p>
<img src="C:\Users\jayay\OneDrive\Desktop\myfirstweb\sold house.jfif">
<p><b>I will empty your bank account</b></p>
<img src="C:\Users\jayay\OneDrive\Desktop\myfirstweb\broke.jfif">

<h3>Ways to donate</h3>
<p>PayPal:@JeAyPi</p>
<p>CashApp:$JeAyPI</p>
<p>ApplePay:(479)212-7116</p>

<h3>Contact info</h3>
<p>Email:Jayala9009@gmail.com</p>
<p>Phone#(479)212-7116</p>
</body>
</html>

